<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App Fullcycle</title>
  </head>
  <body>
    <h1>Full Cycle Rocks!!! {{message}} </h1>

        <ul class="list-group">
        {{#each users}}
            <li class="list-group-item">{{this.fullName}}</li>
        {{/each}}
        </ul>
        
    
  </body>
</html>